/* body gradient */
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  html, body{
    height: auto;
    margin: 0;
    background: linear-gradient(
      -45deg,
      #cdfafa,
      #0ac8b9,
      #0397ab,
      #005a82,
      #0a323c,
      #091428,
      #0a1428
    );
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
  }

.lol-main-button{
    clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/* close 버튼 css */
.close {
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
}
.close:before, .close:after {
    position: absolute;
    top: 6.25px;
    left: 22.5px;
    content: ' ';
    height: 40px;
    width: 5px;
    background-color: white;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/* popUp 창 */
.champion-name{
  position: absolute;
  top: 4px;
  left: 4px;
}

.champion-description{
  position: absolute;
  left: 4px;
  bottom: 4px;
}

.champion-image{
  filter: brightness(60%);
}